<!DOCTYPE html>
<html>
    <head>
        <title>Welcome to My First Flask</title>
        <link rel="stylesheet" href= "/static/style.css" >

    </head>

    <body>
        <div class="container">
            <div class="header">
                <h3>Welcome to XYZ!</h3>

            </div>

            <div class="content">
                <form class="loginform" name="login" action="." method="POST">
                    <table class="tbl">
                        <tr>
                            <th>
                                <td>
                                    <label>Username:</label>
                                </td>
                            </th>
                            <th>
                                <td>
                                    <input type="text" name="uname">

                                </td>
                            </th>
                        </tr>

                        <tr>
                            <th>
                                <td>
                                    <label>Password:</label>
                                </td>
                            </th>
                            <th>
                                <td>
                                    <input type="password" name="pass">

                                </td>
                            </th>
                        </tr>
                    </table>

                    <input class="btn1" type="submit" value="Login">
                
                </form>
                
            </div>

            <div class="signup">
                <h5>Not A Member? <a href="#">Sign Up</a></h5>

            </div>

            <div class="footer">
                <h6>&copy; 2020 Jitesh Krishna</h6>
            </div>
        </div>

    </body>
</html>