<!DOCTYPE html>
<html>
    <head>
        <title>Musix::Login</title>
        <link rel="stylesheet" type = "text/css" href= "{{ url_for('static', filename = 'css/style.css') }}" >

    </head>

    <body>
        <div class="container">
            <div class="header">
                <h2 class="header-main">Welcome to XYZA!</h2>

            </div>

            <div class="content">
                <form class="loginform" name="login" action="." method="POST">
                    <div class="btn0">
                        <input class="btn-def" placeholder="E-mail" type="email" name="uname">            
                    </div>
                    <div class="btn0">
                        <input class="btn-def" placeholder="Password" type="password" name="pass">
                    </div>
                    <div class="btn1">
                        <input class="btn-lg" type="submit" value="Login">
                    </div>
                    
                
                </form>
                
            </div>

            <div class="signup">
                <h5 class="su-main">Not A Member? <a href="/signup">Click Here To Sign Up</a></h5>

            </div>

            <div class="footer">
                <h6 class="ftr-main">&copy; 2020 Jitesh Krishna</h6>
            </div>
        </div>

    </body>
</html>